ConfirmEdit
Nuke
Renameuser
SimpleAntiSpam
TitleBlacklist
.DS_Store
*~
Cite
Gadgets
ImageMap
InputBox
Interwiki
LocalisationUpdate
ParserFunctions
PdfHandler
Poem
SpamBlacklist
SyntaxHighlight_GeSHi
WikiEditor/
