COPYING
CREDITS
FAQ
HISTORY
INSTALL
README
.DS_Store
README.mediawiki
RELEASE-NOTES-1.22
StartProfiler.sample
UPGRADE
anushka.jpg
api.php
api.php5
cache
composer-example.json
docs
images
img_auth.php
img_auth.php5
includes
index.php
index.php5
languages
load.php
load.php5
maintenance
mw-config
opensearch_desc.php
opensearch_desc.php5
profileinfo.php
resources
serialized
skins
tests
thumb.php
thumb.php5
thumb_handler.php
thumb_handler.php5
wiki.phtml
